version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    open-pull-requests-limit: 99
    target-branch: 'canary'
    versioning-strategy: 'increase'
